################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaptureStrings
/Translations/olddefault.triglations.xml
/.vs
/Source/Triggernometry/Properties/AssemblyInfo.cs
